{
  presets: ['react'],
  "plugins": [
    [
      "babel-plugin-root-import", [{
          "rootPathPrefix": "~"
        },
        {
          "rootPathPrefix": "PLUGINS",
          "rootPathSuffix": "node_modules"
        },
        {
          "rootPathPrefix": "*",
          "rootPathSuffix": "src"
        }
      ]
    ]
  ]
}
