/*Main file that includes all components*/
@import "../_customizer/ui-design";

@import "vendor/bootstrap/bootstrap.scss";

@import "settings/_settings.all";


.img-responsive {
  width: 100%;
}

.text-center {
  text-align: center;
}

h1 {
  color: maroon;
}
