/*Main file that includes all components*/
@import "bootstrap/bootstrap.scss";
@import "components/team.scss";


.img-responsive {
  width: 100%;
}

.text-center {
  text-align: center;
}

h1 {
  color: maroon;
}
